@model IEnumerable<WAABSnew.Models.AssistantModel>

@{
    ViewBag.Title = "Index";
}

<h2>Assistant</h2>

<p>
    @Html.ActionLink("Create New Stage", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Confirmed
        </th>
        <th>
            Stage Details
        </th>
        <th>
            Other User Confirmed
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Confrimed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StageDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherUserConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
