@model IEnumerable<WAABSnew.Models.JobModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstateAgentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolicitorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstateAgentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolicitorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
